/* * Login */ 
.login-container {
  background-color: #fff; /* White background color */
  border-radius: 10px; /* Rounded corners */
  font-family: 'Poppins', sans-serif; /* Use the imported font */
  font-weight: 500; /* Adjusted font weight for better readability */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
  padding: 20px;
  width: 160%;
  height: 50vh;
  margin-left: 145%;
  margin-top: -30%;
}

.login-container h2 {
  text-align: center;
  color: var(--main-color);
  font-family: 'Poppins', sans-serif; /* Use the imported font */
  font-weight: 600; /* Adjusted font weight for better readability */
  
}
.form-group .span .text-danger{
  color: red;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 1.5rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.forgot-password {
  text-align: center;
  font-size: 14px;
  color: #555;
}

.login-btn {
  width: 100%;
  padding: 10px;
  font-size: 1.7rem;
  box-sizing: border-box;
  background-color:var(--main-color); /* Green button color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.login-container p{
  color: #555;
  font-size: 1rem;
}
